src/GeocodeAndRoutingOnMouseMove/src/LocalNetworkSample.WinStore/bin/
src/GeocodeAndRoutingOnMouseMove/src/LocalNetworkSample.WinStore/obj/
src/GeocodeAndRoutingOnMouseMove/src/LocalNetworkSample.Desktop/obj/
*.suo
src/GeocodeAndRoutingOnMouseMove/src/LocalNetworkSample.Desktop/bin/
src/TurnByTurn/RoutingSample.WinStore/bin/
src/TurnByTurn/RoutingSample.WinPhone/obj/
src/TurnByTurn/RoutingSample.WinPhone/bin/
src/TurnByTurn/RoutingSample.WinStore/obj/
src/TurnByTurn/RoutingSample.Desktop/obj/
src/TurnByTurn/RoutingSample.Desktop/bin/
